<article>

    <p class="description">
      I am always looking for exciting projects in the fields of web development. If you are interested in working with me, I would be happy to receive a short message.
    </p>
  
    <section class="contact">
  
      <!-- <iframe id="map" class="map" frameBorder='0' src='https://a.tiles.mapbox.com/v4/stekhn.k0d2ho5k/attribution,zoompan.html?access_token=pk.eyJ1Ijoic3VtYW4wMjA5IiwiYSI6ImNrYXR5bDJwMzBscTcycXB0YmE5b2lnZDAifQ.aMo1xDmWJqUe--x6hkslBQ'></iframe> -->
  
      <div class="map" id="map"></div>

      <section class="address">
  
        <h3>Contact</h3>
  
        <p>
          <strong>Suman Paul</strong><br>
          No. 15, Jaba Road, <br>
          Pramathanagar, Parsudih,<br>
          Jamshedpur - 831002
        </p>
  
        <p>
          Mobile: +91 99381 92327<br>
          E-Mail: sumanpaul2031@gmail.com<br>
          <!-- PGP: 0x3A73C8B253D409AF -->
        </p>
  
      </section>
  
    </section>
  
    <section class="social">
  
      <h3>My Profiles:</h3>
  
      <div class="timeline" style="display: flex; justify-content: space-around;">

        <div>
          <a href="https://twitter.com/SumanPaul2031" target="_blank" rel="noopener">
            <i class="fa fa-twitter fa-3x"></i>
            <p>Twitter</p>
          </a>
        </div>

        <div>
          <a href="https://join.skype.com/invite/XuOP7vETQmBB" target="_blank" rel="noopener">
            <i class="fa fa-skype fa-3x"></i>
            <p>Skype</p>
          </a>
        </div>

        <div>
          <a href="https://github.com/SumanPaul031" target="_blank" rel="noopener">
            <i class="fa fa-github fa-3x"></i>
            <p>Github</p>
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/suman-paul-1b13ab176/" target="_blank" rel="noopener">
            <i class="fa fa-linkedin fa-3x"></i>
            <p>LinkedIn</p>
          </a>
        </div>
  
      </div>
  
    </section>
  
  </article>