<article class="imprint">
  
    <p class="description">
      <strong>Academics</strong><br>
      My schooling days were from Jamshedpur in St. Mary's English High School where I completed both my HSC and SSC in 2014 and 2016 respectively. After that I pursued my Bachelor's Degree in Computer Science and Engineering from Institute Of Technical Education & Research with a CGPA of 9.2.
    </p>
  
    <p>
      <strong>Why should You Consider Me?</strong><br>
      This website I have built should be an example of what I bring to the table. I update this website monthly with all the recent projects that I have completed so that you can get a view of what I am capable of. <br>
      And if the aforementioned is not enough to convince you, I am open for a face-to-face interview so that you can get to know me better. All of my contact details along with my various profiles such as Skype, LinkdIn, Github and Twitter can be found in the <a routerLink="/contact">contact</a> section.
    </p>
    <hr>
    <p>Hope to build great things with You! <i class="fa fa-smile-o"></i></p>
  
</article>