<article>

    <p class="description">
      The internet is a great stage for people and their stories. In order to be able to tell stories well online, you need both a solid basic technical knowledge and a feel for design and function.
    </p>
  
    <section>
  
      <section class="timeline">
  
        <h3>Academics / Work Experience</h3>
  
        <div class="line"></div>
  
        <div class="row">
          <div class="bubble"></div>
          <p class="timestamp"><strong>08/2019 - Present</strong></p>
          <p>Racetrack.ai: Associate Product Management Intern</p>
        </div>
  
        <div class="row">
          <div class="bubble"></div>
          <p class="timestamp"><strong>2016 - 2020</strong></p>
          <p>Institute Of Technical Education & Research: Bachelor Of Technology (B.Tech.)</p>
        </div>
  
        <div class="row">
          <div class="bubble"></div>
          <p class="timestamp"><strong>2016</strong></p>
          <p>St. Mary's English High School: Higher Secondary Certificate (HSC)</p>
        </div>

        <div class="row">
          <div class="bubble"></div>
          <p class="timestamp"><strong>2014</strong></p>
          <p>St. Mary's English High School: Senior Secondary Certificate (SSC)</p>
        </div>
  
      </section>
  
  
      <section class="skills">
  
        <h3>Competencies</h3>
  
        <p><span class="line">Angular </span><span class="circle">⬤ ⬤ ⬤ ⬤ ⬤</span></p>
        <p><span class="line">HTML 5 </span><span class="circle"> ⬤ ⬤ ⬤ ⬤ ⬤</span><br></p>
        <p><span class="line">Javascript </span><span class="circle">⬤ ⬤ ⬤ ⬤ ⬤</span><br></p>
        <p><span class="line">CSS 3 </span><span class="circle">⬤ ⬤ ⬤ ⬤<span class="grey"> ⬤</span></span><br></p>
  
        <h3 class="experience">Web Technologies</h3>
  
        <p>
          NodeJS, Express.js, Git, MySQL, MongoDB
        </p>
  
      </section>
  
    </section>
  
  </article>